{{ with .Site.Data.booksSection }}
  {{ if .enable }}
    <section class="section books" id="books">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-6 offset-lg-3">
            <div class="books__header mb-5">
              <span class="top-title">{{ .topTitle }}</span>
              {{ .title | markdownify }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="books-item-grid">
              {{ range first 3 (where $.Site.RegularPages "Type" "books") }}
                <div class="books-item">
                  {{ $asset := resources.Get .Params.thumbnail }}
                  {{ $img := $asset.Resize "200x webp" }}
                  <img src="{{ $img.RelPermalink }}" class="books-item-thumb" alt="books-thumb" />
                  <div class="books-item-content">
                    <span>{{ .Params.categories }}</span>
                    <h3 class="mb-0">1
                      <a class="text-dark" href="{{ .Permalink }}">{{ .Title }}</a>
                    </h3>
                    <a class="see-more-btn" href="{{ .Permalink }}">See details</a>
                  </div>
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
